@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


body {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400, 700;
    background-color: hsl(27, 66%, 92%);
    width: 100%;
    height: 100%;
    align-items: center;
}

.my_balance {
    background-color: #ec775f;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 500px;
    height: 90px;
    align-items: center;
}

#balance {
    font-size: 45px;
    margin: 5px 25px 2px;
}

#name {
    margin: 5px 25px 1px;

}

#circle {
    width: 50px;
    height: 50px;
    background: hsl(25, 47%, 15%);
    border-radius: 50%;
    display: inline-flex;
    margin-top: -30px;
    margin-right: 25px;
    margin-bottom: 5px;
    margin-left: 180px;
}

.results {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    height: 480px;

}

.header_card {
    margin: 0;
    padding: 5px;
}

p {
    color: rgba(71, 69, 69, 0.479);
    text-align: left;
    align-items: baseline;
    display: inline-block;
    padding-left: 5px;
    margin: 0px;
}

header>p {
    color: white;
}

h1 {
    text-align: left;
    padding: 10px;
    font-family: DM Sans;
    margin: 0px 25px;
}

.tester {
    margin: auto;
    align-items: center;
}

body>section {
    align-items: center;
}

.chart {
    margin-top: 5%;
}

#total {
    display: inline-flex;
    padding: 5px;

}

#money>p {
    margin-right: 80px;
    margin-left: 25px;
    margin-bottom: 0px;
}

#percent>p {
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0px;
    height: 0px;
    width: auto;
}

.value_dolar {
    color: black;
    font-weight: bolder;
    font-size: 45px;
}

.value_percent {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}